<form id="add-form" (ngSubmit)="f.form.valid && savePonto(f)" #f="ngForm" novalidate>

  <h1>Marcação de ponto</h1>

  <div class="row">
    <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
      <div class="form-group">
        <label>Colaborador</label>
        <select id="selColaborador"
                class="custom-select"
                [(ngModel)]="ponto.Colaborador"
                name="Colaborador"
                #Colaborador="ngModel">
          <option [ngValue]="undefined" selected>Selecione</option>
          <option *ngFor="let colaborador of serviceColaborador.list; let i = index"
                  [ngValue]="colaborador">
            {{ colaborador.Nome }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
      <div class="form-group">
        <label>Operação (entrada/saída)</label>
        <select id="selOperacoes"
                class="custom-select"
                [(ngModel)]="ponto.IndicadorEntradaSaida"
                #IndicadorEntradaSaida="ngModel"
                name="IndicadorEntradaSaida">
          <option *ngFor="let operacao of operacoes"
                  [value]="operacao.abreviacao">
            {{ operacao.descricao }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-2 col-md-3 col-lg-3 col-xl-3">
      <div class="form-group">
        <button id="btnSend"
                class="btn btn-primary btn-block"
                type="submit">
          Marcar
        </button>
      </div>
    </div>
  </div>
</form>
