<h1>Relatório ponto</h1>

<div class="row">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    <div class="form-group">
      <label>Colaborador</label>
      <div class="input-group mb-3">
        <select name="selColaborador"
                class="custom-select"
                #selColaborador
                (change)="onOptionsSelected(selColaborador.value)">
          <option>Selecione</option>
          <option *ngFor="let colaborador of serviceColaborador.list"
                  value="{{ colaborador.ID }}">
            {{ colaborador.Nome }}
          </option>
        </select>
        <div class="input-group-append">
          <button id="btnSearch"
                  class="btn btn-primary btn-sm"
                  type="button"
                  (click)="getPontoColaborador()">
            Pesquisar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="pontos != undefined">
  <div class="col mb-2">Registros encontrados: {{ pontos.length }}</div>
</div>

<div class="row">
  <div class="col">
    <table class="table table-striped table-sm">
      <thead class="thead-dark">
        <tr>
          <th>ID</th>
          <th>Data</th>
          <th>Operação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ponto of pontos">
          <td>{{ ponto.ID }}</td>
          <td>{{ ponto.DataHoraRegistroPonto | date: 'dd/MM/yyyy HH:mm:ss - EEE' | uppercase }}</td>
          <td>{{ ponto.IndicadorEntradaSaida == 'E' ? 'Entrada' : 'Saída'}}</td>
        </tr>
        <tr *ngIf="pontos==null || pontos.length === 0">
          <td colspan="3">
            <div class="alert alert-warning text-center mt-3">Nenhum registro localizado</div>
          </td>
        </tr>
      </tbody>
      <tfoot></tfoot>
    </table>
  </div>
</div>
